<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @purchase_catalog.product_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase_catalog.price %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @purchase_catalog.picture %>
</p>

<p>
  <strong>Quantity purchased:</strong>
  <%= @purchase_catalog.quantity_purchased %>
</p>

<p>
  <strong>Place of purchase:</strong>
  <%= @purchase_catalog.place_of_purchase %>
</p>

<p>
  <strong>Location of use:</strong>
  <%= @purchase_catalog.location_of_use %>
</p>

<%= link_to 'Edit', edit_purchase_catalog_path(@purchase_catalog) %> |
<%= link_to 'Back', purchase_catalogs_path %>
